@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif !important;
}

.row {
    width: 100vw;
    height: 100vh;
}

.dropdown-item {
    font: 500 16px/24px "Satoshi", sans-serif;
}

.dropdown-item img {
    border-radius: 4px;
}

.dropdown-item .active,
.dropdown-item:active {
    color: #0E73F6 !important;
    background-color: #D7EDFF !important;
    font: 700 16px/24px "Satoshi", sans-serif;
}

.sidebar {
    width: 100%;
    height: 100%;
    background-color: #F6F8F9;
    padding: 16px;
}

.sidenav-divider,
.sidenav-divider * {
    box-sizing: border-box;
}

.sidenav-divider {
    border-radius: 6px;
    padding: 12px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.sidenav-divider__title {
    padding: 0px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.sidenav-divider__library {
    color: var(--mid-gray-mid-gray-2, #6e7c87);
    text-align: left;
    font: 500 14px/24px "Satoshi", sans-serif;
    position: relative;
}

.sidenav-divider__divider {
    background: var(--light-gray-light-gray-3, #e5e9eb);
    flex: 1;
    height: 1px;
    position: relative;
    overflow: hidden;
}

.sidenav-item,
.sidenav-item * {
    box-sizing: border-box;
}

.sidenav-item {
    border-radius: 6px;
    padding: 4px 12px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.sidenav-item:hover {
    background: #d7edff;
    cursor: pointer;
}

.sidenav-item__image {
    border-radius: 4px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.sidenav-item__title {
    color: var(--dark-gray-dark-gray-2, #252c32);
    text-align: left;
    font: 500 14px/24px "Satoshi", sans-serif;
    position: relative;
    flex: 1;
}

.containers {
    padding: 24px 40px 0px 32px;
    gap: 14px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #252C32;
}

.header-text {
    color: #000;
    font: 700 24px/32px "Satoshi", sans-serif;
}

.content-body {
    background: var(--light-gray-light-gray-5, #f6f8f9);
    border-radius: 6px 6px 0px 0px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.modal-header {
    padding-bottom: 0px;
    border-bottom: none;
}

.container-thumbnail {
    border-bottom: 1px solid #E3E8EF;
    background: #EEF2F6;
    padding: 12px;
    border-radius: 12px;
}

.item,
.item * {
    box-sizing: border-box;
}

.item {
    background: #eef2f6;
    border-radius: 8px;
    border-style: solid;
    border-color: #e3e8ef;
    border-width: 1px;
    padding: 32px 40px 32px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.item__image {
    flex-shrink: 0;
    height: 40px;
    position: relative;
}

#div404 {
    display: none;
}